*{
	box-sizing: border-box;
	margin: 0 auto;
}

body{
	margin: 0 auto;
	font-family: sans-serif; /*ubuntu*/
}


/*code for nav bars*/

ul{
	display: inline-block;
	overflow: auto;
	width: 90%;
}

li{
	overflow: auto;
	float: right;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
	font-weight: 700;
}

.nav-top{
	background-color: rgb(248, 248, 248);
	width: 100%;
	color: rgb(160 160 160);
	height: 50px;
	font-size: 85%;
	position: relative;
}

.nav-top>li{
	padding: 30px;
}

.nav-top>ul>li>form{
	box sizing: border-box;
}

.nav-top>ul>li>form>input{
	background-color: transparent;
	max-width: 80%;
	border: none;
	outline: none;
	font-size: 100%;
	font-weight: 700;
}

.nav-top>ul>li>form>button{
	background-color: transparent;
	max-width: 100%;
	color: rgb(160 160 160);
	border: none;
}

.fa-search:before{
	cursor: pointer;
}

/*overwriting styling of placeholder text for multiple browswers*/

::-webkit-input-placeholder {
  color: rgb(160 160 160);
  font-size: 100%;
}
::-moz-placeholder {
  color: rgb(160 160 160);
 font-size: 100%;
}
:-ms-input-placeholder {
  color: rgb(160 160 160);
 font-size: 100%;
}
::placeholder {
  color: rgb(160 160 160);
 font-size: 100%;
}

.top-nav-li-bordered{
	border-right: 1px solid rgb(233, 235, 237);
	padding-right: 30px;
}

.nav-sticky{
	width: 100%;
	float: left;
	display: inline-block;
	padding: 2%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: white;
}

.nav-sticky>ul>li>img{
	max-width: 100%;
	margin-top: -3%;
}

.bordered-button{
	border: 2px solid black;
}


/*code for carousel section on page*/

section{
  position: relative;
  text-align: center;
  color: white;
  font-weight: 500;
}

.carouselImg1{
	max-width: 100%;
}

section>div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	font-size: 450%;
	margin-bottom: 3%;
	margin-top: -10%;
}

.section-button{
	height: 50px;
	width: 145px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	font-weight: 700;
	font-size: 97%;
	margin-top: 5%;
	cursor: pointer;
}

.section-button:hover{
	background-color: rgb(88, 158, 194, 1);
}


/*code for section/container with 3 squares inside*/

.container{
	border: none;
	width: 85%;
	overflow: auto;
	margin: 10%;
	margin-top: -14%;
}

.container>div{
	border: none;
	float: left;
	position: relative;
	text-align: center;
	color: grey;
	margin: 1%;
}

.container>div>img{
	width: 370px;
	height: 236px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	
	top: 50%;
	left: 50%;
}