*{
	box-sizing: border-box;
}

body{
	margin: 0;
	overflow: auto;
}

.nav-top{
	background-color: rgb(220 220 220);
	width: 100%;
	color: rgb(160 160 160);
}

ul{
	float: left;
	display: inline-block;
	overflow: auto;
	
}

li{
	overflow: auto;
	display: inline-block;
	float: right;
	margin: 10px;
	
}

li>span{
	float: left;
}

.nav-sticky{
	float: left;
	display: inline-block;
}

ul>img{
	float: left;
}

.carouselImg1{
	max-width: 100%;
}

.container{
	border: 5px solid red;
	width: 80%;
	overflow: auto;
	margin: 10%;
}

.container>div{
	border: 5px solid blue;
	float: left;
	
}

.container>div>img{
	width: 370px;
	height: 236px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}